harmony/entry/src/main/resources/rawfile/*.bundle
harmony/entry/src/main/resources/rawfile/assets/
harmony/entry/src/main/resources/rawfile/packages/
*.hap
.xcode.env.local
harmony/*.cer
harmony/*.p12
harmony/*.p7b
harmony/sign_tmp/

.baseline
iOS_Out_*/
android/app/src/main/res/raw/*.svg
android/app/src/main/res/drawable-*
android/app/src/main/assets/*.bundle
android/app/src/main/assets/xrn-manifest.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


