<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>port</key>
		<string>18082</string>
		<key>jsBundleName</key>
		<string>xrngo-bare</string>
		<key>codePushKey</key>
		<string></string>
	</dict>
	<dict>
		<key>port</key>
		<string>18083</string>
		<key>jsBundleName</key>
		<string>xrngo-components</string>
		<key>codePushKey</key>
		<string></string>
	</dict>
	<dict>
		<key>port</key>
		<string>7071</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-1</string>
		<key>codePushKey</key>
		<string></string>
	</dict>
	<dict>
		<key>port</key>
		<string>7072</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-2</string>
		<key>codePushKey</key>
		<string></string>
	</dict>
	<dict>
		<key>port</key>
		<string>7073</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-3</string>
		<key>codePushKey</key>
		<string></string>
	</dict>
</array>
</plist>
