<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>port</key>
		<string>18082</string>
		<key>jsBundleName</key>
		<string>xrngo-bare</string>
		<key>codePushKey</key>
		<string>N3yq1OnHur9bkP7sCkuK9mvYxKz04ksvOXqog</string>
	</dict>
	<dict>
		<key>port</key>
		<string>7071</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-1</string>
		<key>codePushKey</key>
		<string>ikX5wWo1XxqhGPBjwrmfXKaOlc4y4ksvOXqog</string>
	</dict>
	<dict>
		<key>port</key>
		<string>7072</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-2</string>
		<key>codePushKey</key>
		<string>cosfNMnE3ZmG7UK6YS84n6nvfpRe4ksvOXqog</string>
	</dict>
	<dict>
		<key>port</key>
		<string>7073</string>
		<key>jsBundleName</key>
		<string>xrngo-multi-bundle-3</string>
		<key>codePushKey</key>
		<string>E1JFzgUFUGZnugAjc4MrBhaPEVHM4ksvOXqog</string>
	</dict>
  <dict>
    <key>port</key>
    <string>8101</string>
    <key>jsBundleName</key>
    <string>xt-package-xrn</string>
    <key>codePushKey</key>
    <string>E1JFzgUFUGZnugAjc4MrBhaPEVHM4ksvOXqog</string>
  </dict>
</array>
</plist>
